 <%= form_for @teacher,:url => teachers_path, :method =>'post' do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :school_id %><br />
    <%= f.text_field :school_id %>
  </p>


  <br />
  <br />
  <p class="button"><%= f.submit %></p>
  <% end %>

  <%= link_to 'back', root_path %>