 <%= form_for @school,:url => schools_path, :method =>'post' do |f| %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </p>

  <br />
  <br />
  <p class="button"><%= f.submit %></p>
  <% end %>

  <%= link_to 'create teachers', new_teacher_path %>